.footer-container{
  background-color: $footer-background-color;
  color: $footer-color;
  padding: 20px 0;

  .content-container{
    display: grid;
    grid-template-columns: 150px auto 250px;

    .newsletter-box{
      display: flex;
    }

    button{
      background-color: rgba(0, 0, 0, 0.1);
      border: none;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  div{
    font-size: 13px;
  }
}