.header-container{
  background-color: $header-background-color;
  color: $header-color;
  padding: 10px 0;
  height: $header-height;

  .content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title-container{
      display: flex;
      justify-content: space-between;

      .sing-in-container{

      }

      .search-box{
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding-right: 10px;
        border-radius: $default-radius;
        display: inline-block;

        &:hover{
          background-color: rgba(0, 0, 0, 0.6);
        }

        i{
          font-size: 20px;
          cursor: pointer;
          color: #585858;
        }
      }

      input{
        color: whitesmoke;
        background-color: transparent;
        outline: none;
      }

      button{
        margin-left: 5px;
        border: none;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.3);

        &:hover{
          background-color: rgba(0, 0, 0, 0.6);
        }
      }

      a{
        color: $header-color;
        text-decoration: none;
        font-weight: 500;

        &:hover{
          color: rgba(255, 255, 255, 0.6)
        }
      }
    }
  }

  .menu{
    display: flex;

    .menu-item{
      margin: 5px 30px 5px 0;
      cursor: pointer;

      i{
        margin-left: 5px;
      }

      .popup-menu{

        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        color: #528ec1;
        z-index: 10;
        border-radius: 0 0 $default-radius $default-radius;
        padding: 5px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
        position: absolute;
        opacity: 0;
        visibility: hidden;

        .menu-item{
          margin-bottom: 10px;
        }
      }

      &:hover{
        .popup-menu{
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
    }
  }

}