.slider-container{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .image-container{

    .slider-image{
      display: none;
      height: 100%;
    }

    .active{
      display: inherit;
    }
  }

  .button-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    opacity: 0;

    i{
      cursor: pointer;
    }
  }

  &:hover{
    .button-container{
      opacity: 1;
      transition: opacity 1s;
    }
  }
}