.item-details-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 350px auto;
  margin-top: 20px;

  img{
    width: 100%;
  }

  .button-container{
    width: 200px;
    display: flex;
    flex-direction: column;
  }
}