$content-width: 800px;

$header-background-color: #182E49;
$header-color: whitesmoke;
$header-height: 170px;

$thumbnail-width: 187px;
$thumbnail-height: 198px;

$footer-background-color: #f2f2f2;
$footer-color: #636363;

$border-style: 1px solid #ececec;

$default-blue: #528ec1;