@import "variables";
@import "Content";
@import "Header";
@import "Footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: #585858;
}

button{
  padding: 10px;
  font: inherit;
  border: 1px solid $default-blue;
  cursor: pointer;
  color: $default-blue;
  background-color: transparent;

  i{
    padding: 5px;
    font-size: 20px;
  }
}

.inverted{
  background-color: $default-blue;
  color: whitesmoke;
}

input{

}