@import "variables";
@import "Content";
@import "Header";
@import "Footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #585858;
  height: 100vh;

  .App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

button{
  padding: 10px;
  font: inherit;
  border: 1px solid $default-blue;
  cursor: pointer;
  color: $default-blue;
  background-color: transparent;
  border-radius: $default-radius;

  i{
    padding: 0 5px;
    font-size: 20px;
  }
}

.inverted{
  background-color: $default-blue;
  color: whitesmoke;
}

input{
  padding: 11px;
  font: inherit;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: $default-radius;
  margin-right: 5px;
}